/* Desktop - 1 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Background__Gradient{
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, #30CFD0 0%, #330867 100%);
}

.Background__Circles{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.Background__Circles > div{
    width: 300px;
    height: 300px;
}

.Background__Circles-Circle1{
    /* width: 690px;
    height: 479px;
    left: -219px;
    top: -250px; */
    z-index: 1;

    background: radial-gradient(50% 50% at 50% 50%, rgba(4, 237, 97, 0.7) 10.98%, rgba(255, 255, 255, 0) 100%);
}

.Background__Circles-Circle2{
    /* width: 554px;
    height: 378px;
    left: -187px;
    top: 345px; */
    z-index: 1;

    background: radial-gradient(50% 50% at 50% 50%, rgba(4, 237, 167, 0.7) 0%, rgba(15, 0, 72, 0) 100%);
}

.Background__Circles-Circle3{
    /* width: 634px;
    height: 506px;
    left: 837px;
    top: 300px; */
    z-index: 1;

    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 4, 172, 0.371) 0%, rgba(15, 0, 72, 0) 100%);
}

.Background__Circles-Circle4{
    /* width: 772px;
    height: 596px;
    left: 786px;
    top: 0px; */
    z-index: 1;

    background: radial-gradient(50% 50% at 50% 50%, rgba(4, 237, 167, 0.7) 0%, rgba(15, 0, 72, 0) 100%);
}

.Background__Circles-Circle5{
    /* width: 634px;
    height: 506px;
    left: -262px;
    top: 28px; */
    z-index: 1;

    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 4, 172, 0.567) 0%, rgba(157, 132, 254, 0) 100%);
}

.Background__BlurEffect{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;

    background: rgba(28, 28, 28, 0.55);
    mix-blend-mode: normal;
    backdrop-filter: blur(80px);
}

.Header__Navbar{
    position: -webkit-sticky;
    position: sticky;
    width: 90vw;
    height: 90px;
    left: 5%;
    right: 5%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.header__navbar-BoxFlex{
    width: 429px;
    height: 34px;
    display: flex;
    direction: row;
    justify-content: space-between;
}

.header__navbar-DA{
    /* position: absolute; */
    width: 76px;
    height: 70px;
    left: calc(50% - 76px/2 - 520px);
    top: calc(50% - 70px/2 - 6px);

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header__navbar-Projects{
    /* position: absolute; */
    width: 123px;
    height: 34px;
    left: calc(50% - 123px/2 + 171.5px);
    top: calc(50% - 29px/2 + 3.5px);

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    

    color: #FFFFFF;
}

.header__navbar-Studies{
    /* position: absolute; */
    width: 92.4px;
    height: 34px;
    left: calc(50% - 92.4px/2 + 336.75px);
    top: calc(50% - 29px/2 + 3.5px);

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.header__navbar-AboutMe{
    /* position: absolute; */
    width: 98.56px;
    height: 34px;
    left: calc(50% - 98.56px/2 + 489.72px);
    top: calc(50% - 29px/2 + 3.5px);

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.main__content{
    position: absolute;
    width: 90vw;
    height: 60%;
    left: 5%;
    right: 5%;
    top: 75px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main__content-Photo1{
    /* position: absolute; */
    width: 380px;
    height: 380px;
    left: 11px;
    top: 0px;
    flex-shrink: 1;
}

.content__FlexBox-Title1and2{
    display: flex;
    width: 727px;
    height: 250px;
    flex-direction: column;
    
    
}

.main__content-DiegoAldemar{
    /* position: absolute; */
    width: 727px;
    height: 85px;
    left: 301px;
    top: 34px;
    

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;

    text-shadow: -4px -5px 12px rgba(0, 0, 0, 0.5);
}

.content__FlexBox-IngineerFlag{
    display: inline-flex;
    width: 382px;
    height: 44px;
    flex-direction: row;
    align-items: center;
}

.main__content-Ingineer{
    /* position: absolute; */
    width: 292px;
    height: 44px;
    left: 387px;
    top: 109px;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #C1BEBE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main__content-FlagColombia{
    width: 32px;
    height: 24px;
    
}

.content__ContainerSkillsAndFigure1-Figure1{
    /* position: absolute; */
    width: 341px;
    height: 341px;
    left: 981px;
    top: 269px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content__ContainerTitleIconsSkills{
    /* position: absolute; */
    width: 393.6px;
    height: 301.6px;
    left: 441px;
    top: 378px;
    /* z-index: 3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.content__ContainerSkills-skills{
    /* position: absolute; */
    width: 187px;
    height: 44px;
    left: 73px;
    top: 0px;
    /* z-index: 3; */

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #C1BEBE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__containerIconsSkills{
    /* position: absolute; */
    display: flex;
    width: 393.6px;
    height: 159.6px;
    /* z-index: 3; */
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.content__containerIconsSkills > img, div{
    width: 70px;
    height: 65.6px;
}

.content__ContainerSkillsAndFigure1{
    position: absolute;
    width: 62vw;
    height: 341px;
    right: 5%;
    top: 40%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-self: center;
}